/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fcfcfc;
}

p {
  line-height: 1.7;
}

.bullet li{
  list-style-type: disc;
  margin-left:15px;
}


h4{
  text-overflow: ellipsis;
  overflow: hidden;
}