<div class="section row" id="block3parts">
	<div class="col s12 m4">
		<div class="icon-block">
			<h2 class="center brown-text"><i class="medium material-icons">format_list_numbered</i></h2>
			<h4 class="center">Les conseils et recommandations</h4>
			<p class="light">
				Un voyage en stop se prépare, spécialement si c’est un long trajet. Vous trouverez dans cette rubrique nos conseils pour bien préparer votre voyage.
				<br/>
				<br/> Vous partez pour un week-end entier, vous allez donc avoir besoin d’un minimum d’affaires. Nous vous conseillons...
			</p>
			<a href="#"><span class="read_more">En savoir plus...</span></a>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="icon-block">
			<h2 class="center brown-text"><i class="medium material-icons">time_to_leave</i></h2>
			<h4 class="center">Edition 2015</h4>
			<br/>
			<p class="light">
				<b>Lundi 21 septembre</b> : Ouverture des inscriptions en ligne : <a href="inscription.php">Inscription</a>
				<br/>
				<br/>
				<b>Jeudi 01 octobre à 23h59</b> : Fermeture des inscriptions en ligne
				<br/>
				<br/>
				<b>Samedi 03 octobre à 8h20</b> : Rendez-vous au point de rencontre pour les derniers points de sécurité et la distribution des ...
			</p>
			<a href="#"><span class="read_more">En savoir plus...</span></a>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="icon-block">
			<h2 class="center brown-text"><i class="medium material-icons">archive</i></h2>
			<h4 class="center">Les archives</h4>
			<br/>
			<p class="light">
				Tu es ici dans le vatican du Pouce d'Or.
				<br/>
				<br/> Ici repose en paix, sur un serveur dont la localisation m'est inconnue, la mémoire des vétérans du Pouce d'Or qui sont aujourd'hui des gens très serieux (ou pas) mais qui gardent en eux le souvenir d'un week-end démentiel passé à silloner les routes d'Europe ...
			</p>
			<a href="#"><span class="read_more">En savoir plus...</span></a>
		</div>
	</div>
</div>
<div class="section row" id="block">
	<div class="col s12 center">
		<h3>Le Pouce d'Or, qu'est ce que c'est ?</h3>
		<br/>
		<p class="left-align light">
			Un week end de voyage, de rencontres, d'aventures, de galères, de folies...
			<br/> En gros une compétition de stop (et oui ça existe), mais où le but n'est pas tant de gagner mais de découvrir ou faire découvrir l'autostop tout en se créant un paquet de souvenirs.
			<br/>
		</p>
	</div>
	<div class="col s12 m6">
		<div id="video" class="video-container">
			<iframe style="border:0;" width="630" height="354" src="//www.youtube.com/embed/CGbIqdJb9lc" allowfullscreen></iframe>
		</div>
	</div>
	<div class="left-align light  col s12 m6">
		Pour citer le Prez 2009 :
		<br/>
		<i>"J'espère que les pouceux de cette édition le resteront : Oui le Pouce d'Or est un week end de galère, d'échec, un concours d'école un peu débile. <br/>Mais c'est aussi et surtout une action sociale à petit niveau pour réinsérer un truc que la société commence à oublier : donner des coups de pouce à son voisin. Pendant ce week-end les pouceux ont appris que ca existait encore, j'espère donc qu'ils passeront le relais dans la vie de tous les jours. Ils ont même initiés des chochos à cette pratique, qui sait peut-être cela les encouragera à continuer à filer des ptits coups de pouce?
			Vive le Pouce, Vive la societé, Vivons tous ensemble dans les champs".</i>
		<br/>
		<br/>
	</div>
	<div class="col s12 center">
		<p>
			N'attends pas le <span style="text-decoration: underline;">12 Octobre</span>, sors toi le pouce !
		</p>
	</div>
</div>
<div class="section row" id="block2parts">
	<div class="col s12 m9">
		<h4 class="center">Les écoles participantes et les sponsors</h4>
		<div class="row valign-wrapper">
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/audencia.jpg">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/centrale_lille.png">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/centrale_marseille.jpg">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" data-caption="Le Pouce d'Or : Une initive crée à l'école Centrale Nantes" src="assets/img/ecoles/centrale_nantes_marqued.jpg">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/centrale_lyon.png">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/ecam_lyon.jpg">
			</div>
		</div>
		<div class="row valign-wrapper">
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/em_normandie.jpg">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/ensica.png">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/ensan.jpg">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/estp.jpeg">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/mines_nantes.png">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/mines_st_etienne.png">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/oniris.png">
			</div>
		</div>
		<div class="row valign-wrapper">
			<div class="col s12 m2 offset-m4">
				<img class="responsive-img valign" src="assets/img/ecoles/centrale_supelec.jpg">
			</div>
			<div class="col s12 m2">
				<img class="responsive-img valign" src="assets/img/ecoles/supoptique.png">
			</div>
		</div>
           	<!-- <img class="responsive-img valign" src="assets/img/ecoles/audencia.png">
			<img class="responsive-img valign" src="assets/img/ecoles/centrale_lyon.png">
			<img class="responsive-img valign" src="assets/img/ecoles/droit_lille.png">
			<img class="responsive-img valign" src="assets/img/ecoles/ensa.jpg">
			<img class="responsive-img valign" src="assets/img/ecoles/estp.jpeg">
			<img class="responsive-img valign" src="assets/img/ecoles/inp_grenoble.png">
			<img class="responsive-img valign" src="assets/img/ecoles/mines_nantes.png">
			<img class="responsive-img valign" src="assets/img/ecoles/mines_paris.png">
			<img class="responsive-img valign" src="assets/img/ecoles/mines_st_etienne.png">
			<img class="responsive-img valign" src="assets/img/ecoles/polytechnique.jpg">
			<img class="responsive-img valign" src="assets/img/ecoles/sciencespo_paris.jpg">
			<img class="responsive-img valign" src="assets/img/ecoles/supelec.png"> -->
	</div>
	<div class="col s12 m3">
		<h4 class="center">Réseaux</h4>
		<div align="center">
			<a class="twitter-timeline" href="https://twitter.com/search?q=%23poucedor" data-widget-id="384379510562365440">Tweets concernant "#poucedor"</a>
		</div>
		<br/>
		<div align="center">
			<div id="fb-root"></div>
			<div class="fb-page" data-href="https://www.facebook.com/poucedor" data-small-header="false" data-width="210px" data-height="100px" data-hide-cover="false" data-show-facepile="false" data-show-posts="false">
				<div class="fb-xfbml-parse-ignore">
					<blockquote cite="https://www.facebook.com/poucedor"><a href="https://www.facebook.com/poucedor">Pouce d&#039;Or</a></blockquote>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section row">
	<div class="valign-wrapper" id="blockFooter">
		<div class="col s12 center-align">
			<div class="valign center intro">
				<img class="responsive-img" src="assets/img/pouceUnique.png"><h1>Et pourquoi pas vous ?</h1>
			</div>
		</div>
	</div>
</div>
